<html>
  <head>
    <title>StaticPages#home</title>

    <head>

  <body>
  
    <h1>Bienvenue sur mon super site de gossips !</h1>
    
    <p><%= link_to "Contact", "/static_pages/contact" %></p>
    <p><%= link_to "Ma team de l'enfer", "/static_pages/team" %></p>


    
  </body>
</html>